/* main css */
body {
  font-size:12px;
  font-family:times;
  background-color: #fff; 
  width: 1em;
  content: center;
}


h1 {
  font-size:2.25em;
  font-weight:none;
}

h2 {
  font-size:1.5em;
}

h3 {
  font-size:1.25em;
}

p {
  font-size: 1em;
}

.main-nav {

}
