body {
  font-size:12px;
  font-family:times;
  position: relative;
  margin: none;
}
header {
  width: 100%;
  height: 250px;
  background-color: blue;
  margin: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

} 

li {
  position: relative;
  float: center;
  bottom: 10px;
}

li a {
     display: block;
}
h1 {
  font-size:2.25em;
  font-weight:none;
}
h2 {
  font-size:1.5em;
}
h3 {
  font-size:1.25em;
}
p {
  font-size: 1em;
}
